:root{
    --main-color:rgb(254,81,2);
    --second-color:rgb(42,98,189);
    --third-color:rgb(32,57,102);
    --white-color:white;
    --light-background:rgb(236, 239, 241);
    --section-padding:50px;
    --box-shadow:0 0 20px rgba(18, 18, 19, 0.6);
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* --------------UTILITIES----------- */
.btn{
    width: fit-content;
    border-radius: 50px;
    padding: 5px 20px;
    background-color: var(--main-color);
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    color: var(--white-color);
    transition: 1s;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 0 10px var(--main-color), 0 0 10px var(--main-color), 0 0 10px var(--main-color);
}
section{
    padding: 50px;
}
a{
    text-decoration: none;
    color: var(--third-color);
    font-size: 1.2rem;
}
ul{
    list-style: none;
}
.fa{
    font-size: 1rem;
    margin-right: 9px;
    color: var(--main-color);
}

/* ----------------HEADER------------ */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-background);
    position: fixed;
    width: 100%;
    padding: 20px 40px;
    color: var(--third-color);
    box-shadow: var(--box-shadow);
    z-index: 2;
}
header .logo, header nav ul ,header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px; 
}
header nav{
    flex-basis: 80%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
header nav .fa-bars{
    display: none;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
header li a:after{
    display: block;
    position: relative;
    content: "";
    height: 2px;
    left: 50%;
    background-color: var(--main-color);
    width: 0%;
    transition: 1s;
}
header li:hover  a:after{
    transform: translateX(-50%);
    right: 50%;
    width: 100%;
}
header div .btn{
    font-family:'Times New Roman', Times, serif;
    padding:10px 30px ;
}
/* -----HERO-------- */
#hero{
    background-color: var(--third-color);
    padding-top: 120px;
    width: 100%;
    box-shadow: 0 0 20px var(--second-color);
}
.carousel p{
    display: flex;
}
.carousel{
       width: 100%;
       height: 80vh;
       place-content: center;
       display: flex;
       flex-direction: row;
       gap: 20px;
}
.card{
    width: 60px;
    height: 100%;
    border-radius: 3rem;
    box-shadow:0 0 50px var(--second-color);
    color: var(--white-color);
    transition: 2s;
    background-color: var(--main-color);
}
#hero input{
    display: none;
}
#hero input:checked + label{
    width: 470px;
}
.card[for=slider1] {
    background:url(1.jpg);
    background-position:0px 0px;
    background-size: cover ;
}
.card[for=slider2] {
    background:url(2.jpg);
    background-position:0px 0px;
    background-size: cover ;
}
.card[for=slider3] {
    background:url(4.jpg);
    background-position:0px 0px;
    background-size: cover ;
}
.card[for=slider4] {
    background:url(5.jpg);
    background-position:0px 0px;
    background-size: cover ;
}
.card[for=slider5] {
    background:url(8.jpg);
    background-position:0px 0px;
    background-size: cover ;
}
.card[for=slider6] {
    background:url(3.jpg);
    background-position:0px 0px;
    background-size: cover ;
}
.card[for=slider7] {
    background: url(6.jpg);
    background-position:0px 0px;
    background-size: cover ;
}

/* ========SLIDING------- */
 .sliding{
    overflow: hidden;
    width:80%;
    height: 80vh;
    margin: 0 auto;
    border-radius: 30px;
    display: none;
}
.sliding .package{
    height: 100%;
    width: 500%;
    position: relative;
    margin: 0;
    left: 0;
    animation-name: slideshow;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes slideshow {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left:-100%;
    }
    40%{
        left:-100%;
    }
    45%{
        left:-200%;
    }
    60%{
        left:-200%;
    }
    65%{
        left:-300%;
    }
    80%{
        left: -300%;
    }
    85%{
        left:-400%;
    }
    100%{
        left: -400%;
    }
}
.sliding .package div img{
    width: 100%;
    height: 100%;
}
.sliding .package div{
    float: left;
    width: 20%;
    height: 100%;
}

/* ------------- ABOUT--------------*/
#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 50px;
    box-sizing: border-box;
    color: var(--third-color);
}
#about h2{
    font-size: 3rem;
    color: var(--second-color);
    font-family: Arial, Helvetica, sans-serif;
}
#about .img{
    height: 70vh;
    width: 40%;
    border-radius: 40px;
    box-shadow:0 0 10px var(--second-color);
    background: url(5.jpg);
    background-position: 0px 0px;
    background-size: cover;
}
#about .about{
    flex-basis: 58%;
}
#about .about p, #about .about a{
    margin-top: 5vh;
}
#about .btn:hover{
    border: 1px solid var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    background-color: var(--light-background);
    color: var(--third-color);
}
/* ----------------SLOGAN---------- */
#slogan{
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light-background);
    gap: 20px;
    box-shadow:0 0 20px rgb(42,98,189)
}
#slogan .fab{
    font-size: 2rem;
    color: var(--main-color);
    transition: 1.5s;
}
#slogan div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
#slogan div .fab:hover{
    transform: translateY(-10px) scale(1.5,1.5);
    color: var(--second-color);
}
/* -----------PICTURES---------- */ 
#pictures{
    padding-top: 100px;
    padding-bottom:100px ;
}
#pictures article{
    display: flex;
    width: 100%;
    max-width: 100%;
    /* padding: 10px; */
    justify-content: space-around;
    align-items: center;
    
}
#pictures h2{
    text-align: center;
    font-size: 2rem;
    color: var(--third-color);
    margin-bottom: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#pictures .div{
    flex-basis: 24%;
    height: 400px;
    border-radius: 20px;
    transition: 3s ease;
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.one{
    background: url(1.jpg);
    background-position: center;
    background-size: cover;
}
.two{
    background: url(2.jpg);
}
.three{
    background: url(3.jpg);
}
.four{
    background: url(4.jpg);
}
#pictures .fa{
    display: flex;
    flex-direction: column;
    color: var(--light-background);
    position: absolute;
    gap: 20px;
    width: 100%;
    height: 100%;
    place-content: center;
    background: linear-gradient(rgba(42,98,189,0.2),rgba(254,81,2,0.7),rgba(42,98,189,0.4) );
    text-align: center;
    transform: translateY(100vh);
    transition: 2s;
    opacity: 0;
    font-size: 30px;
}
#pictures .div:hover .fa{
    transform: translateY(0);
    opacity: 1;
}
#pictures span{
    color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
}
/* ------------Contact Me */
#contactme{
    background-color: var(--light-background);
    padding-top: 130px;
}
#contactme h2{
    font-size: 2.6rem;
    text-align: center;
    color: var(--main-color);
    margin-top: 0px;
    margin-bottom: 30px;
}
#contactme .form{
    display: flex;
    justify-content: space-between;
}
#contactme .flex1{
    display: flex;
    margin-bottom: 5vh;
}
#contactme form{
    flex-basis: 70%;
}
#contactme p {
    margin-bottom: 10px;
}
#contactme input:focus, textarea:focus{
    outline:1px solid var(--main-color);
}
#contactme input{
    width: 95%;
    height: 5vh;
    border-radius: 20px;
    position: relative;
    border: 0;
    outline: 0;
    margin-top: 10px;
    padding: 10px 20px;
}
#contactme .socials{
    width: 30%;
    text-align: center;
    font-size: 1.5rem;
}
#contactme .socials h3{
    margin-bottom: 20px;
}
#contactme .socials .fab{
    font-size: 1.6rem;
    color: var(--second-color);
    margin-right: 10px;
}
textarea{
    width: 100%;
    height: 20vh;
    outline: 0;
    border: 0;
    margin-top: 10px;
    border-radius: 10px;
}
#contactme .form .submit{
    width: fit-content;
    height: fit-content;
    padding: 5px 50px;
    border-radius: 40px;

}

/* -----------------------FOOTER--------- */
footer{
    background-color: var(--third-color);
    padding: 20px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
    border-top-left-radius:100px ;
    box-shadow:0 0 40px rgb(42,98,189);
} 
footer>div{
    flex-basis: 23%;
}
footer a{
    color: var(--white-color);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1rem;
}
footer .sociall{
    display: flex;
    gap: 20px;
    align-items: center;
}
footer code{
    color: var(--main-color);
}
footer .btn{
    color: var(--white-color);
    width: fit-content;
    padding: 0px 10px;
}
footer .btn .fa{
    color: var(--white-color);
}




/* ------------------LOGIN----------- */
#Login{
    background:url(06.jpg);
    background-position: 0 30px;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
    color: var(--light-background);
}
#Login>div , #signup>div{
   backdrop-filter: blur(100px);
   padding: 30px;
   height: 300px;
   width: 400px;
   height: fit-content;
   border: 2px solid var(--second-color);
   box-shadow: 0 0 20px var(--second-color);
}
#Login h2, #signup h2{
    margin-bottom: 50px;
    text-align: center;
    color: var(--white-color);
}
#login form{
    flex-basis: 100%;
}
.box{
    width: 100%;
    border-bottom: 2px solid var(--white-color);
    position: relative;
    margin-bottom: 30px;
    padding: 10px;
}
 .box label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--white-color);
}
.box input:focus~label,
.box input:valid~label{
    top: -2px;
    width: fit-content;
    height: fit-content;
    padding: 7px;
    font-size: 1rem;
}
 .box .icon{
    position: absolute;
    right: 0;
}
 .box .icon .fa{
    color: var(--light-background);
}
 .box input{
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: var(--white-color);
    padding-left:10px;
    padding-right:20px;
}
#forgotpassword a , #signup a{
    display: block;
    width: fit-content;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--second-color);
}
#forgotpassword{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
#Login .btn, #signup .btn{
    margin: auto;
    border: 0;
    outline: 0;
    width: 200px;
    color: var(--main-color);
    background-color: var(--white-color);

}
#Login .btn:hover, #signup .btn:hover{
    background-color: var(--main-color);
    color: var(--white-color);
    box-shadow: 0 0 10px var(--main-color), 0 0 10px var(--main-color), 0 0 10px var(--main-color);
}

/* ----------------SIGN UP --------------------*/
#signup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    background: url(02.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
}
#signup>div{
    width: fit-content;
    box-shadow: 0 0 20px var(--second-color);
    height:100vh;
}
#signup .overlay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}



/* -----------MEDIA QUERY----------- */
@media screen and (max-width: 1060px) {
    header nav .fa-bars{
        display: block;
        font-size: 1.8rem;
    }
    header nav{
        justify-content: flex-end;
        flex-basis: 5%;
        transition: 2s;
    }
    header nav ul{
        position: fixed;
        background-color: var(--light-background);
        width: 100%;
        top: -200px;
        height: 100px;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 9px rgba(0,0,0,0.6);
        transition: 1s;
    }
    header li{
        width: fit-content;
    }
    header nav .btn{
        width: 100%;
    }
    header nav:hover ul{
        top: 0;
    }
    #signup>div{
        width: 70%;
    }
     .box input{
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: var(--white-color);
    padding-left:10px;
    padding-right:15px;
}
}
@media screen and (max-width: 1025px) {
    #contactme form .flex1{
        flex-direction: column;
    }
    #about{
        flex-direction: column-reverse;
        row-gap: 20px;
    }
    #about .about{
        flex-basis: 100%;
    }
    #about .img{
        width: 100%;
    }
}

@media screen and (max-width: 1010px) {
    #pictures article{
        flex-wrap: wrap;
        row-gap: 20px;
    }
    #pictures article .div{
        flex-basis: 48%;
    }
}

@media screen and (max-width: 1000px) {
    .carousel{
        display: none;
    }
    .sliding{
        display: block;
        box-shadow:0 0 50px var(--second-color);
        width: 75%;
        height: 80vh;
    }
    #hero{
        padding: 25px;
        padding-top: 110px;
    }

}
@media screen and (max-width: 880px) {
    footer{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        row-gap: 20px;
        border-radius: 0;
    }
    footer li .btn, footer .sociall{
        margin-inline: auto;
        width: fit-content;
    }
    footer>div{
        flex-basis: 48%;
    }
}
@media screen and (max-width: 800px) {
    #contactme .form{
        flex-direction: column-reverse;
        gap: 20px;
    }
    #contactme form{
        flex-basis: 100%;
    }
    #contactme .form .socials{
        width: 100%;
    }
    #signup>div{
        width: 90%;
    }
}
@media screen and (max-width: 745px) {
        header nav ul{
        position: fixed;
        background-color: var(--light-background);
        width: 100%;
        top: -350px;
        height: 320px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 9px rgba(0,0,0,0.6);
        transition: 1s;
        padding-inline: 20px;
    }
    header nav:hover ul{
        top: 0;
    }
    header nav ul li a .fa , header nav ul li a , header nav ul li .btn{
        font-size: 1rem;
    }
    header nav ul li a {
        flex-basis: 100%;
        width: 100%;
        display: block;

    }
    header nav ul li .btn{
        padding: 3px 30px;
    }
    #hero{
        padding: 20px;
        padding-top:100px ;
    }
    .sliding{
        height: 75vh;
        width: 90%;
    }
}
@media screen and (max-width: 560px) {
    section{
        padding: 32px;
    }

    #pictures article .div{
        flex-basis: 100%;
    }
    #signup>div{
        width: 100vw;
    }
    #Login h2 , #signup h2{
        font-size: 1.1rem !important;
    }
    .box label{
        font-size: .8rem !important;
    }
    #Login #forgotpassword a{
        font-size: .8rem !important;
    }
    #Login .btn, #signup .btn{
        font-size: 1rem !important;
    }
    #signup .btn{
        margin-top: 20px;
        }
}
@media screen and (max-width:500px) {
    #hero{
        padding: 20px;
        padding-top: 100px;
    }
    .sliding{
        height: 60vh;
        width: 100%;
    }
    header{
        padding: 15px;
    }
}
@media screen and (max-width:450px) {
    footer{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        row-gap: 20px;
        border-radius: 0;
    }
    footer li .btn, footer .sociall{
        margin-inline: auto;
        width: fit-content;
    }
    footer>div{
        flex-basis: 100%;
    }
}
@media screen and (max-width:420px) {
    #about h2{
        font-size: 2rem;
    }
    #about .about p{
        font-size: .8rem;
    }    
    #about .img{
        height: 50vh;
        }
        #contactme h2{
            font-size: 1.5rem;
        }
        #contactme .socials a .fab{
            font-size: 1.2rem;
        }
        #contactme .socials h3{
            font-size: 1.3rem;
        } 
        #contactme .form form .fa{
            font-size: .8rem;
        }
        #contactme .form label{
            font-size: 1rem;
        }
        #Login h2 , #signup h2{
            font-size: 1.2rem !important;
            color: var(--main-color);
        }
        .box label{
            font-size: 1rem !important;
        }
        #Login>div {
        width: 100vw;
        height: 100vh;
        }
        #signup .overlay{
        flex-direction: column;
        }
        #signup{
        height: fit-content;
        padding-bottom: 100px;
        background-position: center;
        background-size: cover;
        }
        #signup .overlay{
            gap: 0;
            width: 90vw;
        }
        #signup .btn{
            margin-top: 20px;
        }
        #signup .box {
            border-bottom: 1px solid var(--main-color);
        }
        .box .icon .fa{
            color: var(--main-color);
        }
        #Login .btn, #signup .btn{
            background-color: var(--main-color);
            color: var(--light-background);
        }
        #Login>div , #signup>div{
            backdrop-filter: blur(10px);
            border:0;
            box-shadow: none;
            justify-content: space-evenly;
            width: 100vw;
        }
        #signup>div{
            height: 100%;
            width: 100vw;
            padding: 15px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        #contactme input{
            height: 3.5vh;
        }
}

@media screen and (max-width: 390px) {
    #about .img{
        height: 40vh;
    }
    .btn{
        font-size: .9rem;
    }
}
@media screen and (max-width: 361px) {
    header nav .fa-bars{
        font-size: 1.3rem;
    }
    .logo img{
        width: 30px;
        height: 30px;
    }
    header nav ul li a .fa , header nav ul li a , header nav ul li .btn{
        font-size: .8rem;
    }
    header{
        padding: 15px;
    }
    #about .img{
        height: 30vh;
    }
    header h3{
        font-size: 1rem;
    }
    #slogan p{
        font-size: .7rem;
    }
    #slogan .fab{
        font-size: 1.5rem;
    }
    #Login h2 , #signup h2{
        font-size: 1.1rem !important;
    }
    .box label{
        font-size: 1rem !important;
    }
    #Login #forgotpassword a{
        font-size: .8rem !important;
    }
    #Login .btn, #signup .btn{
        font-size: 1rem !important;
    }
    #hero{
        padding: 10px;
        padding-top: 70px;
    }
    .sliding{
        width: 80%;
        height: 40vh;
    }
}
@media screen and (max-width:280px) {
    #pictures article .div{
        height: 11rem;
    }
}
